html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  /* max-width: 1200px; */
  margin-top: 5rem;
  padding: 0 7%;
}

.contentBlog {
  display: flex;
  gap: 1.3rem;
}

.leftBlog {
  flex: 1;
}

.rightBlog {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1.3rem;
}

.cardRight {
  display: flex;
  flex: 1;
  gap: 1rem;
}

.imgRight {
  width: 100%;
  overflow: hidden;
  aspect-ratio: 1/1;
  flex: 1.2;
}

.imgRight img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.conRight {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.conRight h1 {
  /* font-size: 1.5rem; */
  font-size: clamp(1.4rem, 3vw, 3.5rem);
  margin: 0.6rem 0;
}



.btnRight {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 400;
}

.content h5 {
  display: inline-block;
}



.content h1 {
  margin: 1rem 0;
}

.content p {
  /* font-size: 1rem; */
  font-size: clamp(0.9rem, 1.2vw, 1.2rem);
  line-height: 150%;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 1.5rem 0;
}

.headline h1 {
  margin: 1rem 0;
  /* font-size: 3.2rem; */
  font-size: clamp(1.4rem, 3vw, 3.5rem);
}

.headline h5 {
  /* font-size: 1rem; */
  font-size: clamp(1rem, 1.5vw, 1.4rem);
}

.headline p {
  /* font-size: 1.2rem; */
  font-size: clamp(0.9rem, 1.2vw, 1.2rem);
}

.feat {
  margin: 2rem 0;
  font-size: 1.3rem;
}



.placeImg {
  width: 100%;
  overflow: hidden;
  aspect-ratio: 16/9;
  /* height: 100%; */
  margin-bottom: 1.4rem;
}

.placeImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
}



.latest {
  margin-top: 2rem;
  font-size: 1.5rem;
}



.profile {
  margin: 2rem 0;
  gap: 3rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}



.cardProfile h6 {
  /* font-size: 1.25rem; */
  font-size: clamp(1rem, 1.5vw, 1.4rem);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.cardProfile p {
  font-size: clamp(0.9rem, 1.2vw, 1.2rem);
}

.cardProfile img{
  width: 100%;
  height: 18rem;
  margin-bottom: 1rem;
  object-fit: cover;
}

@media (max-width: 950px) {
  .profile {
    grid-template-columns: auto;
  }

  .contentBlog {
    flex-direction: column;
  }
}