* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
    padding: 0 7%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* max-width: 1200px; */
  margin: 20px auto;
  /* padding: 1.5rem 2rem; */
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
}

.nav {
  display: flex;
  gap: 2rem;
}

.nav a {
  font-size: 16px;
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.gallery-section{
    margin: 60px 0;
}

.tagline {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
}

.cards-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 350px 350px;
    gap: 1.5rem;
    margin-bottom: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 1;
}

.card .image {
    background-color: black;
    height: 250px;
    border-radius: 20px 20px 0 0;
}

.card .description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 32px;
}

.check-detail {
    text-align: center;
}

@media(max-width: 600px) {
    .cards-wrapper {
        grid-template-columns: auto;
    }
}

@media(min-width: 600px) and (max-width: 1050px) {
    .cards-wrapper {
        grid-template-columns: auto auto;
    }
}