* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  /* max-width: 1200px; */
  margin-top: 2rem;
  padding: 0 7%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* max-width: 1200px; */
  margin: 0 auto;
  /* padding: 1.5rem 2rem; */
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
}

.nav {
  display: flex;
  gap: 2rem;
}

.nav a {
  font-size: 16px;
  text-decoration: none;
  color: black;
  font-weight: 400;
}


.herohead {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 120%;
  margin-top: 4rem;
}

.herotext {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  margin-top: 1.4rem;
  margin-bottom: 1.8rem;
}

.heroimg {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 1.5rem 0rem;
  margin-bottom: 12rem;
}

.heroimg img {
  width: 100%;
}

section {
  display: flex;
  /* align-items: center;
  justify-content: center;
 
  gap: 2rem; */
}

.journeyl {
  display: flex;
  flex-direction: column;
  flex: 1.3;
}

.journeyl h1 {
  line-height: 120%;
  font-weight: 700;
  font-size: 3rem;
}

.journeyl p {
  line-height: 150%;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.imgjr {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.imgjr .relume{
  width: 3rem;
  height: 3rem;
}
.imgjr .divider{
  width: 0.2rem;
  height: 7rem;
}

/* .relume {
  width: ;
} */

.journeyr {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* padding-left: 1rem; */
}

.contentjr {
  display: flex;
  margin-bottom: 1rem;
}

.descjr{
  padding-left: 2rem;
}

.year {
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem 0;
}

.headdesc{
  margin-bottom: 1.2rem;
}

.tagline {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.tagline p {
  margin-top: 2.1rem;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  padding: 0 4rem;
}

.meetTeam {
  margin-top: 5rem;
}

.meetTeam .title {
  margin-bottom: 0.7rem;
  font-weight: 700;
}

.meetTeam h1 {
  margin-bottom: 1rem;
  
}

.meetTeam p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 150%;
}

.descTeam {
  margin-bottom: 3rem;
}

.profile {
  gap: 3rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

/* .cardProfile {
  flex: 1;
} */

.cardProfile h6 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.cardProfile img{
  width: 100%;
  height: 18rem;
  margin-bottom: 1rem;
}



.divisi {
  margin-bottom: 1rem;
}

.icon {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  margin-top: 1rem;
}

.icon img {
  width: 24px;
  height: 24px;
}

.recruitment {
  margin-top: 4rem;
}

.recruitment h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 130%;
}

.recruitment p {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.recruitment button {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 400;
  background: none;
  border: 1px solid ;
}

.footer {
  margin-top: 10rem;
  display: flex;
  gap: 5rem;
}

.fotleft {
  flex: 1;
}

.fotright {
  flex: 1;
  display: flex;
  /* justify-content: center; */
  gap: 1rem;
}

.headRight {
  flex: 1;
}

.headRight p {
  margin-bottom: 1rem;
}

.fotTitle {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.inputCon {
  display: flex;
  gap: 0.7rem;
  margin-bottom: 1rem;
}

.submit {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 400;
  background: none;
  border: 1px solid ;
}

.inputfot {
  padding: 1rem;
  width: 60%;
  font-weight: 400;
  background: none;
  border: 1px solid;
}

.descInput {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.footLine {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.footLine img {
  width: 100%;
}

.pBot {
  flex: 1;
}

.footBar {
  flex: 1;
  display: flex;
  gap: 2rem;
  justify-content: end;
}

.footBar a {
  text-decoration: none;
  color: black;
}

.BottomBar {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 3rem;
}

.arahBase {
  display: flex;
  gap: 2rem;
}

.leftURL {
  flex: 2.5;
  display: flex;
  flex-direction: column;
}

.rightURL {
  flex: 1.33;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.baseFlex {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  /* width: 100%; */
}

.titleBase {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  line-height: 130%;
}
.titleBasetwo {
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
  line-height: 130%;
}

.pBase {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

.buttonBase {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 400;
}

.containerBase {
  margin-bottom: 1rem;
  border: 1px solid black;
  padding: 1rem;
}

.baseFlextwo {
  display: flex;
  border: 1px solid black;
  /* gap: 2rem; */
}

.imgBase {
  flex: 1.2;
}
.imgBaseRight {
  flex: 2;
}

.descBase {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  flex: 1;
  padding: 3rem 1.2rem;
}
.descBaseRight {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  flex: 0.8;
  padding: 1rem 2rem 1.2rem 2rem;
}

.imgPlaceBase {
  width: 100%;
  height: 100%;
}

