* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
}

.nav {
  display: flex;
  gap: 2rem;
}

.nav a {
  font-size: 16px;
  text-decoration: none;
  color: black;
  font-weight: 400;
}


.herohead {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 120%;
  margin-top: 4rem;
}

.herotext {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  margin-top: 1.4rem;
  margin-bottom: 1.8rem;
}

.heroimg {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
}

.heroimg img {
  width: 100%;
}

section {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  max-width: 1200px;
  margin: 4rem auto;
  padding: 1.5rem 2rem;
  /* gap: 2rem; */
}

.journeyl {
  display: flex;
  flex-direction: column;
  flex: 1.3;
}

.journeyl h1 {
  line-height: 120%;
  font-weight: 700;
  font-size: 3rem;
}

.journeyl p {
  line-height: 150%;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.imgjr {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.imgjr .relume{
  width: 3rem;
  height: 3rem;
}
.imgjr .divider{
  width: 0.2rem;
  height: 7rem;
}

/* .relume {
  width: ;
} */

.journeyr {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* padding-left: 1rem; */
}

.contentjr {
  display: flex;
  margin-bottom: 1rem;
}

.descjr{
  padding-left: 2rem;
}

.year {
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem 0;
}

.headdesc{
  margin-bottom: 1.2rem;
}

.tagline {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.tagline p {
  margin-top: 2.1rem;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  padding: 0 4rem;
}

.meetTeam {
  margin-top: 3rem;
}

.meetTeam .title {
  margin-bottom: 0.7rem;
}

.meetTeam h1 {
  margin-bottom: 1rem;
  
}

.meetTeam p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 150%;
}

.profile {
  gap: 3rem;
  display: flex;
}

.cardProfile {
  flex: 1;
}

.cardProfile h6 {
  font-size: 1.25rem;
  font-weight: 600;
}

.cardProfile img{
  width: 100%;
  height: 18rem;
}